---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "April 2023 - Current",
        title: "Full Stack Developer",
        description: "I contribute to the modernization of the Directorate-General for Traffic (DGT) by migrating its road control system (SCADA) from a desktop application to a web-based solution, improving efficiency and scalability. \nI have developed microservices from scratch, starting from defining the OpenAPI specification to implementing the service itself within a robust microservices architecture using Java, Spring, ActiveMQ, Redis, PostgreSQL (JPA), and Keycloak. On the client side, I have worked on GUI design based on client requirements and implemented it using Angular. \nAdditionally, I work with DevOps workflows, manage CI/CD pipelines with Jenkins, ensure code quality with SonarQube, and deploy applications in Docker containers to ensure scalability and reliability in production environments.",
        company: "Indra Systems",
        link: "#dgt",
    },
    {
        date: "July 2022 - March 2023",
        title: "Software Developer",
        company: "Clever Shopping Group",
        description: "We created automated solutions to seamlessly integrate product offerings across multiple sales channels, including Amazon, PCComponents, and Carrefour. This involved developing robust communication systems using C# for API interactions and managing the product catalog with SQL Server for efficient data retrieval and updates. Additionally, I deployed these applications on AWS, ensuring high scalability, reliability, and security to support business growth and adaptability.",
    },
    {
        date: "February 2022 - May 2022",
        title: "Web Developer",
        company: "IoTsens",
        description: "As part of my final degree project, I developed a web application designed to display data collected by IoT devices. The solution was implemented using PHP and PostgreSQL, with a strong emphasis on creating an efficient and user-friendly interface. You can explore the final project here.",
        link: "#iotsens"
    },
]
---

<ol class="relative mt-16">    
    {
        EXPERIENCE.map(experience => (
          <li>
                <ExperienceItem { ...experience } />
          </li>
        ))
    }               
</ol>

