<header class="flex flex-col items-center py-5 w-full xl:w-[1120px] mx-auto md:flex-row md:justify-between">
    <img class="rounded-full w-32 h-32" src="/src/assets/aldane.png" alt="Logo" />
    <nav class="w-full flex justify-center md:w-auto md:justify-start">
        <ul class="flex flex-row gap-x-10 list-none opacity-80">
            <li><a href="#top">Home</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About me</a></li>
        </ul>
    </nav>
</header>
